<footer class="footer">
  <div class="flist-1">
    <ul>
      <li><a href="https://adalab.es/">ARTICLES</a></li>
      <li><a href="https://adalab.es/">BOOKS</a></li>
      <li><a href="https://adalab.es/">EVENTS</a></li>
      <li><a href="https://adalab.es/">RESASONS</a></li>
      <li><a href="https://adalab.es/">TIPS</a></li>
    </ul>
  </div>
  <div class="flist-2">
    <ul>
      <li><a href="https://adalab.es/">TWITTER</a></li>
      <li><a href="https://adalab.es/">INSTAGRAM</a></li>
      <li><a href="https://adalab.es/">MASTODON.SOCIAL</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <small>&#160 2017</small>
    <span>We LOVE components</span>
  </div>
</footer>
