<footer class="footer">
  <a href="./index.html#top" class="button-up">
    <img title="go to upper section" src="../assets/images/ico-arrow.svg" />
  </a>
  <div class="footer-flex wrapper">
    <nav class="flist-1">
      <ul>
        <li><a href="https://adalab.es/">ARTICLES</a></li>
        <li><a href="https://adalab.es/">BOOKS</a></li>
        <li><a href="https://adalab.es/">EVENTS</a></li>
        <li><a href="https://adalab.es/">REASONS</a></li>
        <li><a href="https://adalab.es/">TIPS</a></li>
      </ul>
    </nav>
    <nav class="flist-2">
      <ul>
        <li><a href="https://adalab.es/">TWITTER</a></li>
        <li><a href="https://adalab.es/">INSTAGRAM</a></li>
        <li><a href="https://adalab.es/">MASTODON.SOCIAL</a></li>
      </ul>
    </nav>
    <div class="footer-bottom">
      <small>©2017</small>
      <div class="bottom-text">
        <span>we <span class="heart">❤︎</span> components</span>
      </div>
    </div>
  </div>
</footer>
