<header class="header">
  <a href="https://adalab.es/">
    <img
      class="button-hamburger"
      title="burger menu"
      src="../assets/images/ico-menu.svg"
    />
  </a>

  <section class="hero">
    <h1 class="hero-title">anonymous proxy</h1>
    <span class="hero-subtitle">In hac habitasse platea dictumst.</span>
    <a href="./index.html#reasons">
      <img
        class="button-down"
        title="go to lower section"
        src="../assets/images/ico-scroll-down.svg"
      />
    </a>
  </section>
</header>
