<main class="main-container">
  <div class="main-what">
    <span>insomnia tips</span>
    <h2>looking through a window</h2>
    <p>
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a class="button" href="#" title="go">Go</a>
  </div>

  <div class="main-why">
    <h2>3 Reasons to purchase</h2>
    <article class="article1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="article2">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="article3">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a class="button" href="#" title="more reasons">More reasons</a>
  </div>
</main>
