// FONTS
$font-main: Roboto, sans-serif;
$font-bold: Roboto Slab, serif;
$font-size: 16px;

//  COLORS
$color-white: #ffffff;
$color-bright-orange: #f26002;
$color-light-blue: #eff9ff;
$color-mid-blue: #8ccbea;
$color-cerulean-blue: #0271bc;
$color-dark-grey-blue: #304268;

// BREAKPOINTS
$tablet: 768px;
$pc: 1280px;
