.footer {
  height: 465px;
  color: $color-white;
  background-color: $color-dark-grey-blue;
  text-align: center;
  line-height: 1.88;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.flist-1 {
  text-decoration: none;
}

.heart {
  color: $color-bright-orange;
}
