header {
  height: 100vh;
  background: url(../images/cover.jpg) 100vh;
  background-size: cover;
  background-position: center;

  & .hero {
    color: $color-white;
    position: relative;
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.hero-title {
  font-family: $font-bold;
  text-transform: uppercase;
  font-size: 2.625rem;
  text-align: center;
  line-height: 55px;
}

.buttondown {
  width: 20px;
  height: 11.7px;
  width: 45px;
  height: 45px;
  background-size: 45px;
  background-color: $color-white;
  display: block;
  border-radius: 45px;
}
