html {
  font-size: $font-size;
  font-family: $font-main;
  list-style-type: none;
}

header,
.main,
footer {
  border: 1px red solid;
}

.wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @include tablet {
    padding-left: 39px;
    padding-right: 39px;
  }

  @include pc {
    padding-left: 275px;
    padding-right: 275px;
  }
}

// @include tablet {
//   introducir cambios
//   antes cargar mixins
//   dsplay grid, meter diferente display, etc.
// }
